.client-list-container {
  position: relative;
  width: 300px;
  /*border-right: 2px solid lightgray;*/
  background-color: #f6f6f6;
  overflow-y: hidden;
}

.client-list {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  overflow-y: scroll;
}

.client-list-item:last-of-type {
  border: none;
}

.client-list-item {
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  margin: none;
  padding: 10px 10px 10px 0px;
}

.add-client {
  margin-top: 20px;
  cursor: pointer;
  padding: 15px;
  color: blue;
}
